.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--px-border-soft);
    color: var(--px-footer-text);
    font-size: var(--fs-base);
    .nav {
    	a {
		    font-size: var(--fs-base);
			color: var(--px-footer-text);
			+ a {
				margin-left: 18px;
			}
    	}
    }
}